:root{
	--sain:#228B22;
	--infecte:#FF8C00;
	--symptome:#B22222;
	--grave:#800000;
	--mort:#000000;
	--immune: #1E90FF;
}

#sketch-holder.pointer {
	cursor: pointer;
}

html {
	font-family: Helvetica,sans-serif;
}

main > div {
	display: flex;
	justify-content: left;
}

#desc{
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin-left: 2rem;
}

#buttons-container {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

#buttons-container > button {
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem;
}

#counters-container table {
	border-collapse: collapse;
}

#counters-container table td,
#counters-container table th {
	border: 1px solid black;
	padding: 0.25rem;
	text-align: center;
}

#counters-container table th {
	background-color: #222222;
	color: white;
	text-align: left;
}
#sains {
	background-color:var(--sain);
	color: white;
}
#infectes {
	background-color:var(--infecte);
	color: black;
}
#symptomes {
	background-color:var(--symptome);
	color: white;
}
#graves {
	background-color:var(--grave);
	color: white;
}
#morts {
	background-color:var(--mort);
	color: white;
}
#immunises {
	background-color:var(--immune);
	color: white;
}